# dependencies
/node_modules
/src/generated/prisma
/.pnp
.pnp.js

# testing
/coverage
/downloads
/logs
jest-storage
*.log

# production
/build
/dist

# database
*.db
*.db-*
*.sqlite
*.sqlite3
schema.sql

# misc
.DS_Store
.env
.env.local
.env.test
.env.production
.env*.local
*.bak
*.tmp
*.swp
*~

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.sublime-*
.claude

!.env.example